/*body{
	display: flex;
	width:1366px;
	height:100%;
	background-color: #000332;
}*/
html,body{
	width:100%;
	height: 100%;
	overflow-x:hidden;
	/*background-color: #000332;*/
	background: url("../image/background.png") no-repeat;
	background-size: 100% 100%;
}
.container{
	margin: 0.4rem 0.5rem 0.25rem 0.6rem;
    width: 18.2rem;
    height: auto;
    /*height: 8.5rem;*/
    /*position: fixed;*/
}
.main{
	display: flex;
    width: auto;
    height: 8.1rem;
	/*text-align: center;*/
    /*height: 4.05rem; 屏蔽第三行功能时*/
}
.box{
	/*flex: 1;*/
	width: auto;
    /*height: 4.85rem;*/
    height: 8.1rem; /*屏蔽第三行功能时*/
}
#audio_box{
	width: 4.50rem;
}
#video_box{
	width: 12.24rem;
	margin: 0 auto;
    /*margin-right: 0.65rem;*/
    /*margin-left: 0.68rem;*/
}
#bandwidth_box{
	width: 5.9rem;
}

.title{
	width:auto;
	height:auto;
	font-size:0.36rem;
	font-family:SFUIText-Bold;
	font-weight:bold;
	color:rgba(0,255,255,1);
	line-height:0.4rem;
	/*margin-bottom: 30px;*/
}
.second{
	display: flex;
}

.status{
	flex: 1;
	height: 0.48rem;
	margin: 0.3rem 0;
	line-height: 0.48rem;
}
.status p{
	float: left;
	font-size: 0.24rem;
	line-height: 0.48rem;
	font-family:SFUIText-Regular;
	font-weight:400;
	color:#fff;
}
.status img{
	float: left;
	width: 0.34rem;
	height: 0.34rem;
	margin: 0.07rem 0.09rem 0.07rem 0.12rem;
}
/*滑块按钮*/
.switchVideo{
	flex: 1;
	margin-left: 0.3rem;
	height: 0.48rem;
    margin: 0.35rem 0 0.4rem 0;
}
/*第三行-该功能隐藏*/
.third{
	display: flex;
	width: auto;
    height: 0.50rem;
	margin-bottom: 0.3rem;
}

/*音频图*/
.canvas{
	position: absolute;
	bottom:0.18rem;
	right: 0.12rem;
 	width:4.5rem;
	height: 2.5rem;
	/*width: auto;*/
	background: rgba(1,0,38,0.7);
/* 	height: 2.86rem;
	margin-bottom: 0.5rem; */
}
.bottom_title{
	font-size: 0.22rem;
	line-height: 0.4rem;
	font-family:SFUIText-Regular;
	font-weight:400;
	color:#2241FD;
}
/*tab*/
.tabButton{
	width: auto;
	height: 0.70rem;
	/*margin-top: 58px;
	margin-bottom: 65px;*/
	margin-top: 0.46rem;
    margin-bottom: 0.45rem;
	display: flex;
	justify-content: center;
}
.tabButton div{
	width: 1.7rem;
    height: 0.70rem;
    line-height: 0.70rem;
    font-size: 0.28rem;
	text-align: center;
	border: 1px solid #00FFFF;
	background:#000332;
	color: #00FFFF;
}
.tabButton .tabNative{
	float: left;
}
.tabRemote{
	float: left;
}
.tabButton .nav{
	background:#00FFFF;
	color: #000332;
}

/*视频图片*/
.video_bg{
	position: relative;
	width: 12rem;
	height: 6.66rem;
	background: url(../image/video_bg.png) no-repeat;
	background-size: 12rem 6.66rem;
	/* margin-bottom: 0.28rem; */
}
.video img{
	padding: 0.10rem;
	width: 12.04rem;
	height: 6.71rem;
}
.video .plugin{
	padding: 0.10rem;
	width: 12.04rem;
	height: 6.71rem;
}
.video .plugin .parent-wnd{
	width: 11.8rem;
	height: 6.47rem;
}
.video .plugin .parent-wnd>div{
	width: 100%;
	height: 100%;
}
.video .plugin .parent-wnd>div .play-window,.video .plugin .parent-wnd>div .draw-window{
	width: 11.8rem;
	height: 6.47rem;
}
.video .plugin .parent-wnd>div{
	display: none;
}
.video .plugin .parent-wnd>div:nth-child(1){
	display: block;
}
/*bandwidth*/
.bandwidth_third{
	/*display: inline-block;*/
	width: auto;
	line-height: 0.50rem;
	color:#fff;
	margin-bottom: 0.30rem;
    margin-top: 0.45rem;
	font-size: 0.24rem;
}
.bandwidth_third p{
	float: left;
}
.bandwidth_third span{
	color: #FFA812;
}

/*折线图*/
.line_chart{
	width: 5.9rem;
	height: 3.86rem;
	background:url(../image/video_bg.png) no-repeat;
	background-size: 5.9rem 3.86rem; 
	margin-bottom: 0.28rem;
	
	/*屏蔽第三行红能时*/
	margin-top: 0.85rem;
}
.echart{
	width: 5.2rem;
    height: 3.26rem;
    padding: 0.3rem;
}

iframe{
	border: 0;
}


.footer{
	display: flex;
    /*padding-top: 0.3rem;*/
    width: 100%;
}
.footer .footer_img{
	width: 150px;
	margin-right: 0.4rem;
}
    
.footer_text{
	flex: 4;
	font-size: 0.22rem;
	line-height: 0.34rem;
	padding: 0.4rem 0;
	color:#3d57f6;
}
.footer .logo{
	flex: 1;
	display: flex;
	align-content: center;
	justify-content: flex-end;
	align-items: center;
}
.footer .logo .line{
	width:0.01rem;
	height:0.3rem;
	background:rgba(255,255,255,1);
	opacity:0.3;
	margin-left: 0.2rem;
}
.footer .logo img{
	float: left;
    width: 0.48rem;
    height: 0.48rem;
    margin-left: 0.2rem;
}
#statusAudio,#statusVideo{
	color: #00FFFF;
}
.waveform::-webkit-scrollbar {overflow:hidden; display:none}

wave:first-child {
	overflow:hidden !important;
}

/*视频弹框*/
#videoBig{
	height: 100%;
	width: 100%;
	background-color: rgba(0,0,0,0);
	z-index: 100;
	position: fixed;
	top: 0;
}




/*warning图*/
@keyframes lds-ripple {
 0% {
    top: 0.2rem;
    left: 0.2rem;
    width: 0;
    height: 0;
    opacity: 1;
  }
  100% {
    top: 0;
    left: 0;
    width: 0.35rem;
    height: 0.35rem;
    opacity: 0;
  }
}
@-webkit-keyframes lds-ripple {
  0% {
    top: 0.2rem;
    left: 0.2rem;
    width: 0;
    height: 0;
    opacity: 1;
  }
  100% {
    top: 0px;
    left: 0px;
    width: 0.35rem;
    height: 0.35rem;
    opacity: 0;
  }
}
.lds-ripple {
  position: relative;
}
.lds-ripple div {
  box-sizing: content-box;
  position: absolute;
  border-width: 3px;
  border-style: solid;
  opacity: 1;
  border-radius: 50%;
  -webkit-animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
  animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}
.lds-ripple div:nth-child(1) {
  border-color: #ff0048;
}
.lds-ripple div:nth-child(2) {
  border-color: #ff0040;
  -webkit-animation-delay: -1s;
  animation-delay: -1s;
}
.lds-ripple {
  width: 0.48rem !important;
  height: 0.48rem !important;
  -webkit-transform: translate(-100px, -100px) scale(1) translate(100px, 100px);
  transform: translate(-100px, -100px) scale(1) translate(100px, 100px);
}



/*带宽进度条*/
.scroll-bar{
	width: 1.5rem;
    height: 0.36rem;
    position: relative;
    margin-left: 0.24rem;
    margin-top: 0.05rem
}
.entire-bar{
	width: 100%;
    height: 0.04rem;
    top: 0.12rem;
    left: 0;
    position: absolute;
    background: #4D0239;
    opacity: 0.7;
}
.action-bar{
	height: 0.04rem;
    top: 0.12rem;
    position: absolute;
    /*background: #4F94CD;
    width: 110px;
    height: 4px;*/
    background: rgba(255,0,72,1);
    opacity: 0.5;
    border-radius: 0.02rem;
}
.action-block1{
    top: 0.04rem;
    width: 0.16rem;
    height: 0.16rem;
    cursor: pointer;
    position: absolute;
    background: rgba(255,0,72,1);
}
.action-block2{
    top: 0.04rem;
    width: 0.16rem;
    height: 0.16rem;
    cursor: pointer;
    position: absolute;
    background: rgba(255,0,72,1);
}
.showAmount{
    margin-top: 0.2rem;
    width: 0.5rem;
    height: 0.2rem;
    line-height: 0.2rem;
    display: flex;
}
.showAmount input{
	width: 0.35rem;
    border: none;
    outline: none;
    text-align: center;
    color: #FF0048;
    font-size: 0.18rem;
}
#unit{
	color: #FF0048;
	font-size: 0.2rem;
}
#unit1{
	color: #FF0048;
	font-size: 0.2rem;
}